@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://use.typekit.net/byi6vqw.css");
@import url("https://cdn.syncfusion.com/ej2/material.css");
/* @font-face {
  font-family: Lorint;
  src: url(./assets/Lorint.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nadine;
  src: url(./assets/Nadine.ttf);
  font-weight: 400;
  font-style: normal;
} */
